
/* div{
	text-align: center;
} */
li{
	list-style-type: none;
}
#a1{
	
	width: 2000px;	
	height: 60px;
	/* border: solid 1px black; */
}
#p1{
	margin-top: -10px;
}
#a2{
	margin-left: 230px;
	margin-top: -60px;
	}
#a3{
	/* border: solid 1px black;
	width: 290px;
	height: 40px; */
	margin-left: 350px;
	margin-top: -55px;
	float: left;
	
}	
#a4 li{
	display: inline;
	
	}
#p2{
	margin-left: 930px;
	margin-top: -50px;
}
#p3{
	margin-left: 1120px;
	margin-top: -55px;
}
#a5{
	
	border: solid 0.5px black;
	border-radius: 20px 20px 20px 20px ;
	height: 30px;
	width: 150px;
	margin-left: 1350px;
	margin-top: -55px;
	background-color: black;
	
	}
#a5 li{
	
	display: inline;
	position: relative;
	top: -10px;
}
#a6 li{
	display: inline;

}
#a6{
	/* border: solid 0.5px black; */
	height: 30px;
	width: 900px;
	margin-left: 200px;
	margin-top: -15px;
}
#a6 li{
	position: relative;
	top: -10px;
	text-align: center;
	padding: 10px;
}

#a7 li{
	padding: 10px;
	display: inline;
}
#a7{
	/* border: solid 0.5px black; */
	height: 50px;
	width: 900px;
	margin-left: 90px;
}
#a8 li{
	padding: 10px;
	display: inline;
}
#a8{
	/* border: solid 0.5px black; */
	height: 50px;
	width: 950px;
	margin-left: 90px;
}
#a9 li{
	padding: 10px;
	display: inline;
}
#a9{
	/* border: solid 0.5px black; */
	height: 50px;
	width: 900px;
	margin-left: 90px;
}
#a10{
	/* border: solid 0.5px black; */
	 height: 50px;
	 width: 1000px;
	 margin-left: 90px;
	}
#a10 li{
	display: inline;
	padding: 15px;
	}
#span{
	font-weight: 600;
	font-size: 2px;
	}
#p5{
	
	position: relative;
	top: 5px;
}
#p5:hover{
	transform: scale(1.5);
}
#a11 li{
	display: inline;
	padding: 10px;
	line-height: 100px;
}
#a11{
	height: 1000px;
	width: 1800px;
}
a{
	color: red;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#a6 a{
	color: blue;
	text-decoration: none;
}
#a12{
	height: 300px;
	width: 1800px;
	background: linear-gradient(to top,pink,white);
}
#a13{
	height: 1300px;
	width: 1800px;
	background: linear-gradient(to top,black,white,aqua);
}
#p6,#p7{
	background-color:#EEEEEE ;
}
#p8{
	background-color: pink;
}
#a14{
	color: #FFFFFF;
	
	
}
#a15{
	/* border: solid 0.5px black; */
	margin-top: -5px;
	width: 250px;
	height: 40px;
	font-size: 2px;	
	position: relative;	
}
#a15 li{
	display: inline;
	position: relative;
	top: 35px;
}
#p19 a{
	color: #000000;
	text-decoration: none;
}
#p19 a:hover{
	color: #0000FF;
}
#p18{
	color: #FF0000;
}
#a21 li{
	display: inline;
	padding: 25px;
	position: relative;
	top: -570px;	
}
span1{
	color:#FF787E;	
}
#a22 li{
	display: inline;
	padding: 25px;
	position: relative;
	top: -120px;
}
#a17 li{
	display: inline;	
}
#a17{
	color: #EEEEEE;
	border: solid 1px black;
	height: 50px;
	width: 1500px;
	background-color:#3D3D3D ;
	padding-left: 300px;
}
#span3{
	color: black;
	background-color: #FFC500;
	border: solid 1px black;
	border-radius: 7px;
}
#a16{
	border: solid 1px black;
	height: 179px;
	width: 1800px;
	background-color: #323232;
	/* margin-top: 20px; */
	
}

#a16 li{
	position: relative;
		left: -10px;
		top: -10px;
}
#aa2 li{
	position: relative;
	top: -195px;
	left: 470px;
}
#aa3{	
	
	position: relative;
	top: -209px;
	left: -40px;
}
#aa3 li{
	/* border: #000000 1px solid; */
	background-color: #212121;
	
	width: 1800px;
}
#aa4{
	position: relative;
	top: -290px;
	left: 750px;
}
#span4{
	color: red;
	position: relative;
	left: -780px;
	top: -15px;
	
}
#all{
	height: 500px;
	width: 1800px;
	background: linear-gradient(to top,#212121,#212121);
}
#a11 li img:hover{
	transform: scale(1.2);
}
#p6{
		width: 300px;
		height: 40px;
		border-radius: 10px;
		margin-left: 200px;
		margin-top: -20px;
		font-size: 20px;
		outline: none;
	}



























/* #p17 li{
	position: fixed;
	top: 80px;
	
	left: 1150px;
	
}
#p16 li{
	position: fixed;
	top: 220px;
	
	left: 1150px;
}
#p16 li:hover{
	transform: scale(1.2);
}
#p17 li:hover{
	transform: scale(1.2);
} */
